* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(images/fondo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    
    
}

header {
    text-align: center;
}

a {
    margin: 50px;
}

img {
    width: 150px;
}
h1{
    background-color: rgba(255, 255, 255, 0.296);
    margin-bottom: 10px;
    font-size: 50px;
    color: fuchsia;
    padding-bottom: 50px;
    border-radius: 15px;
}

li{
    align-items: center;
    margin: auto 15%;
}

